{% extends "base2.html" %}
{%block title %}Cast{% endblock %}

{% block style %}
<style> 
        h1 {
          font-family: Poppins-Regular;
	        color: black;
          line-height: 45px;
          font-size: 25px;  
          text-align: center;
          }
        * {
          margin: 0; 
          padding: 0;
          }

        body {
          background-image: url(static/bg-03.jpg);
          background-size: contain;
          }
        .series h3 {
          color: white;
          background-color: black; 
          border-radius: 4px; 
          display: table;
          padding: 5px;
          margin-top: 10px;
          margin-left: 500px; 
        }
        .series img {
          width: 150%; 
          padding: 10px; 
          margin-top: 15px; 
          box-shadow: -4px 4px 5px 0 #000; 
          cursor: pointer; 
          transition: ls;  
        }
        .series img:hover {
          transform: translateY(-10px);
        }
        .column {
          float: left;
          margin-left: 50px;
          padding: 10px;
          width: 15%;
        }
        .row::after {
        content: "";
        clear: both;
        display: table;
        }
       </style>

{% endblock %}
{% block content %}
<div class="containter series">
<h3> All Cast Members </h3>
<div class="row">
      {% for i in range(0, len) %}
        <div class="column">
        <a href=/cast/{{ cast_id[i] }}>
          <img src={{ cast_img[i] }}>
        </a>
        </div>
      {% endfor %}
</div>
{% endblock %}
