{% extends "base.html" %}
{%block title %}Logout{% endblock %}

{% block content %}
</br>
<div class="text-center p-t-90">
<style>
    h1 {
	    color: black;
        line-height: 200px;
        text-align: center;
        background-color: white;
        border-radius: 4px; 
    }
    * {
        margin: 0; 
        padding: 0;
    }
    body {
        background-image: url(static/bg-01.jpg);
        background-size: cover;
    }
</style>
<h1> You have successfully logged out! </h1> 
</div>
{% endblock %}
